body {
	background: no-repeat fixed center 0 url('images/main-bg.jpg') #24271B;
}

.uiButtonContainer {
	position:fixed;
	top:10px;
	width:195px;
	background:white;
	padding-top:1em;
}

.uiButtonGroup {
	background:white;
	margin:0;
	padding:5px;
}

.uiButton {
	float:left;
	margin:5px;
}

.uiButton img {
	display:block;
	width:80px;
	border:1px solid gray;
	padding:0;
	margin:0;
}

.uiButton .caption {
	display:block;
	width:80px;
	height:auto;
	border:1px solid gray;
	padding:3px 0;
	margin:0;
	text-align:center;
	font-family:serif;
	font-size:12px;
	font-variant:small-caps;
	line-height:1em;
}

.uiButton a {
	margin:0;
	padding:0;
}

#mute-button {
	position:fixed;
	cursor:pointer;
	display:block;
	margin:-12px 0 0 265px;
	z-index:10;
}

#footer-frame {
	height:8em;
}

#endlogo {
	display:block;
	padding:50px 0 0 25px;
}

#actionButtons a {
	display:block;
	padding:3px 0;
	margin:2px 0;
	font-size:17px;
	font-family:sans-serif;
	border:1px solid #443;
	background-color:#51593C;
	color:#fff;
    font-variant:small-caps;
    opacity:0.7;
}

#map {
	background:url("images/mapbg.png") no-repeat;
	height:400px;
}

#map img {
	display:block;
	position:absolute;
}

body .qtip {
	position:fixed;
}